@using SchoolMonitoringSystem.Application.UseCases;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IEnumerable<TeacherDto>

<!DOCTYPE html>
<html>
<head>
    <title>Barcha O'qituvchilar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS Stilleri */
        .edit-button {
            float: right;
        }

        .delete-button {
            margin-left: 5px;
        }

        .details-button {
            margin-left: 5px;
        }

        .details-table {
            margin-top: 10px;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .full-page-background {
            background-image: url('/images/340434.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            text-align: center;
            font-size: 1.5rem;
        }

        .align-content-xl-center {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            height: 100%;
        }

        .display-4 {
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: bold;
        }

        .social-links {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }

            .social-links a {
                color: black;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="full-page-background">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Barcha O'qituvchilar</h1>
            <button id="create-button" class="btn btn-primary" onclick="location.href='/teacher/createteacher'">+</button>
        </div>
         <div class="input-group mb-3">
            <form action="@Url.Action("SearchTeacherFilter", "Filter")" method="get">
            <input type="text" name="SearchPattern" placeholder="Enter search term" />
            <button type="submit">Qidirish</button>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.FirstName</td>
                        <td>@teacher.LastName</td>
                        <td>
                            <a href ="@Url.Action("GetByTeacherId" , teacher)" class="btn btn-info">Batafsil</a>
                        </td>
                        <td>
                            <a href ="@Url.Action("UpdateTeacher" , teacher)" class="btn btn-outline-primary">Tahrirlash</a>
                        </td>
                        <td>
                            <form method="post" action="/teacher/deleteteacher/@teacher.Id" class="delete-form">
                                <button type="submit" class="btn btn-danger">O'chirish</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container fixed-bottom d-flex align-items-center justify-content-center">
            @Html.PagedListPager((IPagedList)Model,page => Url.Action("GetAllTeachers", "Teacher",new{ page= page}),
            new X.PagedList.Web.Common.PagedListRenderOptions
            {
            DisplayItemSliceAndTotal = false,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            })
        </div>
    </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
